# This is a basic workflow to help you get started with Actions

name: Esteira de Ambientes


on:
  push:
    branches:
      - Desenvolvimento
  pull_request:
    branches:
      - '*'
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        
  deploy-Desenvolvimento:
    runs-on: ubuntu-latest
    environment:
      name: Desenvolvimento
      url: ferhmdiogo@gmail.com
    needs: build
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        
  deploy-Homologacao:
    runs-on: ubuntu-latest
    environment:
      name: Homologacao
      url: ferhmdiogo@gmail.com
    needs: deploy-Desenvolvimento
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        
  deploy-main:
    runs-on: ubuntu-latest
    environment:
      name: main
      url: ferhmdiogo@gmail.com
    needs: deploy-Homologacao
    steps:
      - name: Checkout
        uses: actions/checkout@v2
